@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f1f4f5;
  font-family: "Inter", serif;
  color: #222222;
}


button.btn {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  padding: 0;
  font-weight: 600;
  transition: 0.5s all ease;
  box-shadow: none;
}

button.btn.dark-border {
  border: 1px solid #db5aa4;
  background: #fff;
  color: #db5aa4;
}

button.btn.light-border {
  border: 1px solid #d3d3d3;
  background: #fff;
  color: #222222;
}

button.btn.btn-bg,
button.btn.dark-border:hover,
button.btn.light-border:hover {
  border: 1px solid #db5aa4;
  background: #db5aa4;
  color: #fff;
}

button.btn.btn-bg:hover {
  background: #222222;
  border-color: #222222;
}

button.btn:not(:hover) i {
  color: #db5aa4;
}

.theme-color {
  color: #db5aa4 !important;
  font-weight: 600;
}

/* ---------------------------------checkbox----------------------- */

input[type=checkbox] {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  line-height: 0;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
}

input[type=checkbox]:checked {
  background-color: #fff;
  opacity: 1;
}

input[type=checkbox]:checked:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}